.formItem {
    margin: 5px 0;
}

.twoItems {
    display: flex;
}

.smallItem {
    width: 200px !important;
    margin-right: 5px;
}

.centered {
    display: flex;
    width: 100%;
    justify-content: center;
}